<h1>Log In</h1>
<form action="/register" method="post">
    <div>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" required>
    </div>
    <div>
        <label for="pass">Password</label>
        <input type="pass" name="pass" id="pass" required>
    </div>
    <button type="submit">Login</button>
</form>
<a href="/register">Register</a>