body{
    max-width: 25%;
    background-color: rgb(231, 240, 241);
}

.registerBox{
    border: 1px black solid;
    padding: 5px;
    padding-bottom: 10px;
}

.regInput{
    margin: 10px;
   overflow: hidden;
}


.register button{
    margin-left: 40%;
    min-width: 20%;
    margin-bottom: 5px;
}

.register, .registerBox{
    font-family: sans-serif;
    font-size: 15px;
}

.inputGroup{
    float: right;
    margin-left: 15px;
    margin-right: 3px;
}

.inputGroup input{
    width: 125px;
}

.inputGroup div{
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 2px;
    color: rgb(235, 59, 59);
}

.inputGroup .error-msg {
    display: none;
  }

.error input{
    background-color: #f3d4d4;
    border: 1px solid #cc0033;
    outline: none;
  }
  
  .error .error-msg {
    display: block;
  }